body {
  background: url('./assets/greenenergybgtemplate.jpeg');
}
#root {
  width: 100%;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 350px;
  height: 150px;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.usernameLabel {
  color: black;
}

.testParagraph {
  color: black;
  margin-right: 150px;
}

.usernameInputClass {
  margin-left: 10px;
  background-color: white;
  color: black;
}

.userEmailInputClass {
  margin-left: 40px;
  background-color: white;
  color: black;
}

.userPasswordInputClass {
  margin-left: 10px;
  background-color: white;
  color: black;
}
.userPasswordLabel {
  color: black;
}

.userEmailLabel {
  color: black;
}

.read-the-docs {
  color: #888;
}

.submitButton {
  margin-top: 5px;
}
